<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="notice">
    <!--码问官方公众号-->
    <a class="btn btn-primary btn-block mb-3"role="button"href="/publish">发新帖</a>
    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
    <div style="background:#FFFFFF;"class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4 class="text-center">关于我们</h4>
        <div class="small line-height-3" >
            <font color="#FF0000">
                <b>
                    站点进入1.0初次发布阶段，若注册遇到403异常，请添加交流群“
                    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e0d04591f3f342c0360dd29f7a783be3a458c72c9abca52be36fa32300e45bd4<"713876190>
                    </a>”找工具人Joker协助！
                </b>
            </font>
            <br>
            　　本站是对天南海北的程序员们自行建立组织的技术交流论坛。用户可以在这里交流技术心得，发布技术相关帖子，通过发帖向高手们寻求解答问题的办法，同时也可以进行各种技术的BUG收集，以方便以后的使用！
            <br>
            <br>
            　　如果有对站点更好的建议与意见，可以通过回帖告知我们！
            <br>
            <br>
            　　★推荐QQ群（点群号直达）：
            <br>
            <font color="#FFB6C1">
                <b>
                    java交流群
                    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e0d04591f3f342c0360dd29f7a783be3a458c72c9abca52be36fa32300e45bd4<"125487856>
                    </a>
                </b>
            </font>
            <br>
            <font color="#0000FF">
                <b>
                    python交流群
                    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e0d04591f3f342c0360dd29f7a783be3a458c72c9abca52be36fa32300e45bd4<"713876190>
                    </a>
                </b>
            </font>
            <br>
            <font color="#9932CC">
                <b>
                    c++交流群
                    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e0d04591f3f342c0360dd29f7a783be3a458c72c9abca52be36fa32300e45bd4<"854526444>
                    </a>
                </b>
            </font>
            <marquee>
                欢迎入住技术论坛
            </marquee>
        </div>
    </div>
    <div class="form-group">
        <form action="/" method="get">
            <div class="search">
                <input type="text" class="form-control" name="search" placeholder="关键字"/><button style="background-color: #00a8c6;" type="submit" class="btn btn-primary">搜索</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
